.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
presentation
presentation.zip
dist/reveal.es5.js
react/dist
react/demo/dist

# Ignore Videos for now to not worry about video file size and github limits.
# Can be found at https://drive.google.com/drive/folders/1V40uZEZZGRNUl3c4aJ9Y01kgw3it15Pj?usp=sharing
/videos
